/* Facundo Diaz to Holberton School 2021*/
footer {
	background-color:white;
	height:60px;
	width:100%;
	bottom:0;
    position:fixed;
    border-top:1px solid #CCCCCC;
    display:flex;
    justify-content:center;
    align-items:center;
}
